.container{
  width: 80%;
  align-items: center;
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
}
.tech-container
{
  width: 20%;
  align-items: center;
  margin: auto;
}
.tech-photo
{
  max-width: 50%;
  margin: auto;
  padding: 0%;
  max-height: 50vh;
  bottom: 0;

}
