<h1 style="margin: auto;padding-left: 20%;">Tecnologias que domino.</h1>
<div class="container">

  <div class="tech-container">
  <img class="tech-photo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1200px-Python-logo-notext.svg.png">
  </div>
  <div class="tech-container">
    <img class="tech-photo" src="https://sg.com.mx/sites/default/files/styles/570x500/public/images/angular-logo.png?itok=_4hR0cNu">
  </div>
  <div class="tech-container">
    <img class="tech-photo" src="https://www.django-rest-framework.org/img/logo.png">
  </div>
  <div class="tech-container">
    <img class="tech-photo" src="https://assets.stickpng.com/images/5847f981cef1014c0b5e48be.png">
  </div>
  <div class="tech-container">
    <img class="tech-photo" src="https://cdn-icons-png.flaticon.com/512/25/25231.png">
  </div>
</div>
