<h1 style="margin: auto;padding-left: 20%;">Tecnologias que domino.</h1>
<div class="container">

  <div class="tech-container">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-subtitle>Programming Language</mat-card-subtitle>
      </mat-card-header>
      <img class="tech-photo" mat-card-image src="assets/python.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="tech-container">
    <img  src="assets/angular.png">
  </div>
  <div class="tech-container">
    <img class="tech-photo" src="assets/drf.png">
  </div>
  <div class="tech-container">
    <img class="tech-photo" src="assets/git.png">
  </div>
  <div class="tech-container">
    <img class="tech-photo" src="assets/github.png">
  </div>
</div>

