
<mat-drawer-container class="nav-container" autosize>
  <mat-drawer #drawer class="nav-sidenav" mode="side">

    <div class="nav-sidenav-header">
      <a href="#" class="nav-sidenav-close" (click)="drawer.toggle()">
        <mat-icon >close</mat-icon>
      </a>
    </div>

    <div class="nav-sidenav-body">
      <mat-nav-list>
        <a mat-list-item href="#">Inicio.</a>
        <a mat-list-item href="#">Proyectos.</a>
        <a mat-list-item href="#">Curriculum vitae.</a>
        <a mat-list-item href="#">Redes sociales.</a>
      </mat-nav-list>
    </div>
  </mat-drawer>

  <div class="nav-sidenav-content">


  <div style="display: flex;">
    <div class="spacer" style="width: 10%;">
    </div>
    <div class="content" >
      <button class="side-button" mat-mini-fab color="primary" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>


      <router-outlet></router-outlet>
    </div>
    <div class="spacer" style="width: 10%;">
    </div>
    </div>

  </div>

</mat-drawer-container>

