
<mat-drawer-container class="nav-container" autosize>
  <mat-drawer #drawer class="nav-sidenav" mode="side">

    <div class="nav-sidenav-header">
      <a href="/" class="nav-sidenav-logo">
        <div class="logo-container">
          <img class="logo" src="assets/CALE_Logo.png" alt="Logo">
        </div>
      </a>
      <a href="#" class="nav-sidenav-close" (click)="drawer.toggle()">
        <mat-icon >close</mat-icon>
      </a>
    </div>

    <div class="nav-sidenav-body">
      <mat-nav-list>
        <a mat-list-item href="/">Home.</a>
        <a mat-list-item href="/projects">Projects.</a>
        <a mat-list-item href="/experience">Experience.</a>
        <a mat-list-item href="/socials">Social Media.</a>
      </mat-nav-list>
    </div>
  </mat-drawer>

  <div class="nav-sidenav-content">

    <button class="side-button" mat-mini-fab color="primary" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

  <div style="width: 100%;">
    <div class="content" >
      <div style="width: 100%;padding:0px;margin:0px;background-color:#c5c6c8;min-height: 3vh;">

      </div>
      <router-outlet></router-outlet>
    </div>
    </div>

  </div>

</mat-drawer-container>

