
  <div class="main-container">
  <div class="photo-container">
  <img class="my-photo" [src]="myPhoto">
  </div>
  <div class="description-container">
    <img class="logo" src="assets/CALE_Logo.png" alt="Logo">
    <h2>César Hernández</h2>
    <h1> “Cualquier tecnología suficientemente avanzada es indistinguible de la magia”</h1>
    <h3>Soy un apasionado desarrollador de software cuyo enfoque se basa en resolver problemas complejos y crear soluciones eficientes que impulsen el éxito de los proyectos en los que participo.</h3>
      <a href="/projects">Conoce mis proyectos.</a>
  </div>

</div>
<!--
<div class="container">
  <h1>Tecnologias que he utilizado.</h1>
  <img class="my-photo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1200px-Python-logo-notext.svg.png">
  <img class="my-photo" src="https://sg.com.mx/sites/default/files/styles/570x500/public/images/angular-logo.png?itok=_4hR0cNu">
</div>
-->


