*{
  font-family: "Arial", "Helvetica", sans-serif;
}
.my-photo
{
  max-width: 100%;
  margin: 0 ;

  max-height: 80vh;
  bottom: 0;
position: absolute;
}

.logo
{
  max-width: 70%;
  max-height: 30vh;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.main-container
{
  padding: 0px;
  height: 97vh;
  margin:0px;
  background: linear-gradient(#c5c6c8,10%, #84b6f4);
  width: 100%;
  display: flex;
  flex-direction: row;
  font-weight: bold;
}
.photo-container
{
  min-width: 50%;
  display: flex;
  align-items: center;
  margin-left: auto;
  justify-content: center;
  position: relative;
  flex:1;
}
.description-container
{
  margin-right: auto;
  padding: 0 10% 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex:1;
}
.know-button
{
  margin-bottom: 1%;
}


@media screen and (max-width: 767px) {
  .main-container
{
 flex-direction: column;
}
  .photo-container
{
  width: 100%;
  align-items: right;
  margin: 0 auto;
}

  .my-photo
  {
    width: 50vh;
    align-items: center;
    margin: 0 ;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 50%;
  }
  .description-container
{
  width: 100%;
}

}
