
  <div class="container">
  <div class="photo-container">
  <img class="my-photo" src="assets/A001.png">
  </div>
  <div class="description-container">
    <img class="logo" src="assets/CALE_Logo.png" alt="Logo">
    <h2>César Hernández</h2>
    <h1> “Cualquier tecnología suficientemente avanzada es indistinguible de la magia”</h1>
    <h3>Soy un apasionado desarrollador de software y estudiante de ciencias computacionales.
      Mi enfoque en la programación se basa en resolver problemas complejos y crear soluciones eficientes que impulsen el éxito de los proyectos en los que participo.</h3>
  </div>

</div>



