
  <div class="main-container">
  <div class="photo-container">
  <img class="my-photo" [src]="myPhoto">
  </div>
  <div class="description-container">
    <div>
    <img class="logo" src="assets/CALE_Logo.png" alt="Logo">
    <h2>César Hernández</h2>
    <h1> “Keep calm and code on”</h1>
    <h3>I am a dedicated software developer with a strong commitment to tackling intricate challenges and crafting efficient solutions that elevate the success of the projects I engage in.</h3>

      <button class="know-button" mat-raised-button color="primary">
        <a href="/projects" style="text-decoration: none;color: white;">Get to know my projects.</a>
      </button>
  </div>
</div>
</div>

