.navbar-personal
{
  display: flex;
  width: 100%;
}
.navbar-space
{
  width: 12.5%;

  text-align: center;
  align-items: center;
  display: flex;
}
.navbar-text
{
  width: 100%;
  text-align: center;
  font-weight: bold;
}
.navbar-separator
{
  width: 20%;

}
.navbar-image
{
 width: 20%
}
.navbar-image-space
{
 width: 30%;
}
@media(max-width: 767px) {
  .navbar-space
  {
    width: 22.5%;
  }
  .navbar-text
{
  width: 100%;
  text-align: center;
  font-weight: bold;
}
  .navbar-separator
{
  width: 0%;
}
.navbar-image-space
{
  width: 10%
}
.navbar-image
{
 width: 100%
}
}
.example-container {
  width: 500px;
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;

  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
  height: 100%;
}
